In [1]:
import pandas as pd

In [24]:
dataset_credits = pd.read_csv("./credits_dataset_final.csv")

In [25]:
print(dataset_credits.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             45476 non-null  int64
 1   actor_names    43058 non-null  object
 2   director_name  44589 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB
None

In [26]:
df = pd.read_csv("./movies_dataset_final.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_8720\4097163755.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataset_final_movies.csv")

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   budget                    45379 non-null  float64
 1   id                        45379 non-null  object
 2   original_language         45368 non-null  object
 3   overview                  44438 non-null  object
 4   popularity                45377 non-null  object
 5   production_countries      45379 non-null  object
 6   release_date              45376 non-null  object
 7   revenue                   45379 non-null  float64
 8   runtime                   45130 non-null  float64
 9   spoken_languages          45376 non-null  object
 10  status                    45296 non-null  object
 11  tagline                   20398 non-null  object
 12  title                     45376 non-null  object
 13  vote_average              45376 non-null  float64
 14  vote_count                45376 non-null  float64
 15  return                    45379 non-null  float64
 16  release_year              45376 non-null  float64
 17  collection_id             4488 non-null   float64
 18  collection_name           4488 non-null   object
 19  production_company_names  45376 non-null  object
 20  genre_names               45379 non-null  object
dtypes: float64(8), object(13)
memory usage: 7.3+ MB
None

In [39]:
print("Columnas en credits_dataset:", dataset_credits.columns)
print("Columnas en dataset_movies:", df.columns)

Columnas en credits_dataset: Index(['id', 'actor_names', 'director_name'], dtype='object')
Columnas en dataset_movies: Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'return', 'release_year', 'collection_id',
       'collection_name', 'production_company_names', 'genre_names'],
      dtype='object')

In [44]:
merged_dataset = pd.merge(df, dataset_credits, on="id", how="inner")

In [45]:
print(merged_dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45451 entries, 0 to 45450
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   budget                    45451 non-null  float64
 1   id                        45451 non-null  object
 2   original_language         45440 non-null  object
 3   overview                  44510 non-null  object
 4   popularity                45451 non-null  float64
 5   production_countries      45451 non-null  object
 6   release_date              45451 non-null  object
 7   revenue                   45451 non-null  float64
 8   runtime                   45205 non-null  float64
 9   spoken_languages          45451 non-null  object
 10  status                    45371 non-null  object
 11  tagline                   20425 non-null  object
 12  title                     45451 non-null  object
 13  vote_average              45451 non-null  float64
 14  vote_count                45451 non-null  float64
 15  return                    45451 non-null  float64
 16  release_year              45451 non-null  float64
 17  collection_id             4497 non-null   float64
 18  collection_name           4497 non-null   object
 19  production_company_names  45451 non-null  object
 20  genre_names               45451 non-null  object
 21  actor_names               43097 non-null  object
 22  director_name             44616 non-null  object
dtypes: float64(9), object(14)
memory usage: 8.0+ MB
None

In [47]:
merged_dataset.to_csv("./dataset.csv", index=False)
print("Dataset combinado guardado como 'dataset.csv'.")

Dataset combinado guardado como 'dataset.csv'.

In [2]:
dataset= pd.read_csv("./dataset.csv")

In [3]:
print(dataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45451 entries, 0 to 45450
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   budget                    45451 non-null  float64
 1   id                        45451 non-null  int64
 2   original_language         45440 non-null  object
 3   overview                  44510 non-null  object
 4   popularity                45451 non-null  float64
 5   production_countries      45451 non-null  object
 6   release_date              45451 non-null  object
 7   revenue                   45451 non-null  float64
 8   runtime                   45205 non-null  float64
 9   spoken_languages          45451 non-null  object
 10  status                    45371 non-null  object
 11  tagline                   20425 non-null  object
 12  title                     45451 non-null  object
 13  vote_average              45451 non-null  float64
 14  vote_count                45451 non-null  float64
 15  return                    45451 non-null  float64
 16  release_year              45451 non-null  float64
 17  collection_id             4497 non-null   float64
 18  collection_name           4497 non-null   object
 19  production_company_names  45451 non-null  object
 20  genre_names               45451 non-null  object
 21  actor_names               43097 non-null  object
 22  director_name             44616 non-null  object
dtypes: float64(9), int64(1), object(13)
memory usage: 8.0+ MB
None

In [51]:
print(dataset.columns)

Index(['budget', 'id', 'original_language', 'overview', 'popularity',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'return', 'release_year', 'collection_id',
       'collection_name', 'production_company_names', 'genre_names',
       'actor_names', 'director_name'],
      dtype='object')

In [6]:
# Eliminar columnas espec√≠ficas
columnas_a_eliminar = ["original_language", "production_countries", "runtime", "spoken_languages", "status", "tagline", "collection_id","collection_name", "production_company_names"]
dataset_final = dataset.drop(columns=columnas_a_eliminar)

# Guardar el nuevo dataset en un archivo CSV
dataset_final.to_csv('dataset_final.csv', index=False)

In [7]:
print(dataset_final.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45451 entries, 0 to 45450
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   budget         45451 non-null  float64
 1   id             45451 non-null  int64
 2   overview       44510 non-null  object
 3   popularity     45451 non-null  float64
 4   release_date   45451 non-null  object
 5   revenue        45451 non-null  float64
 6   title          45451 non-null  object
 7   vote_average   45451 non-null  float64
 8   vote_count     45451 non-null  float64
 9   return         45451 non-null  float64
 10  release_year   45451 non-null  float64
 11  genre_names    45451 non-null  object
 12  actor_names    43097 non-null  object
 13  director_name  44616 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 4.9+ MB
None

In [55]:
columnas_seleccionadas = ['release_date', 'title', 'release_year', "vote_average", "vote_count"]
dataset_funciones_basicas = dataset[columnas_seleccionadas]

In [56]:
dataset_funciones_basicas.to_csv('dataset_funciones_basicas.csv', index=False)

In [58]:
columnas_seleccionadass = ['id', 'title', 'return', "actor_names", "director_name", "revenue", "budget", "release_date"]
dataset_actor_director = dataset_final[columnas_seleccionadass]

In [59]:
dataset_actor_director.to_csv('dataset_actor_director.csv', index=False)

In [8]:
columnas_seleccionadasss = ['vote_average', 'title', 'vote_count', "popularity", "overview", "genre_names"]
dataset_modelo = dataset_final[columnas_seleccionadasss]

In [9]:
dataset_modelo.to_csv('dataset_modelo.csv', index=False)